.list-posts {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    margin-bottom: 30px;
    h2{
        color: var(--accent-07, #3DBDA7);
    }
    .link{
        text-decoration: none;
        color: black;
    }
    .post {
        height: 134px;
        padding: 10px;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 40px;
        background: #fff;
        // box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.50);
        border: 0 solid rgb(249, 249, 249);
        transition: box-shadow 0.3s ease-in-out;

        .post_container {
            width: 100px;
            height: 100px;
            // margin-bottom: 10px;
        }

        .titel_post {
            font-family: 'Marmelad', sans-serif;
            font-weight: 300;
            // margin-bottom: 30px;
            border-bottom: 1px solid #3DBDA7;
        }
        .text_post{
            margin-bottom: 30px;
        }

        .likes_img_container{
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .likes_img{
            display: flex;
            padding-top: 5px;
            width: 40px;
            height: 30px;
            border: 1px solid black;
            border-radius: 10px;
            .post_container{
                display: flex;
                // flex-direction: column;
                align-items: center;
                justify-content: center;
            }            
        }
        .likes_img:hover {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }


    }

    .post:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
}