.container_tags_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    // height: 40px;
    padding: 5px;
    margin-bottom: 50px;
    margin-top: 10px;
    border: 1px solid var(--accent-07, #3DBDA7);
    border-radius: 20px;
    .tags_list{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .tag{
        margin-right: 10px;
        padding: 5px;
        text-align: center;
        border: 1px solid black;
        border-radius: 10px;
        p{
            font-family: 'Nunito', sans-serif;
        }

    }
    //#FECA01
    .profile_about_container{
        border-radius: 20px;
        background: var(--accent-07, #3DBDA7);
    }
}