.container_fullPost{
    margin-top: 50px;
    padding: 10px;
    .fullPost{
        .img_post{

        }
        .fullPost_titel{
            margin-bottom: 30px;
        }
        .fullPost_text{

        }
    }
}