.popular__post__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 100px;
    .content__post{
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: start;
        text-align: left;
        border-right: 1px solid black;
        .content__text{
            margin-bottom: 30px;
        }
        .btn{
            font-family: 'Exo 2', sans-serif;
            padding: 10px;
            border-bottom: 1px solid black;
            color: goldenrod;
            transition: background-color 0.5s ease;
        } 
        .btn:hover {
            background-color: #000000;
            color: #ffffff;
        }
    }
}