// font-family: 'Oswald', sans-serif;
// font-family: 'PT Serif', serif;
// font-family: 'Raleway', sans-serif;

.container{
    padding: 5px;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    border-radius: 54px;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;
    // box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
    background:#000;
}
//     // h1{
//     //     font-family: 'MuseoModerno', cursive;
//     //     font-size: 90px;
//     // }
//     .intro__text{
//         margin-bottom: 50px;
//         border-bottom: 1px solid black;
//     }

//     //titel
//     .intro__subtitel{
//         text-align: left;
//         font-family: 'Oswald', sans-serif;
//         font-size: 32px;
//     }
//     .intro__subtitel__two{
//         text-align: left;
//         padding-left: 100px;
//         margin-bottom: 40px;
//         font-family: 'Exo 2', sans-serif;
//         font-size: 32px;
//     }

//     .popular__post__container{
//         display: grid;
//         grid-template-columns: 1fr 1fr;
//         margin-bottom: 100px;
//         .content__post{
//             display: flex;
//             flex-direction: column;
//             justify-content: end;
//             align-items: start;
//             text-align: left;
//             border-right: 1px solid black;
//             .content__text{
//                 margin-bottom: 30px;
//             }
//             .btn{
//                 font-family: 'Exo 2', sans-serif;
//                 padding: 10px;
//                 border-bottom: 1px solid black;
//                 color: goldenrod;
//                 transition: background-color 0.5s ease;
//             } 
//             .btn:hover {
//                 background-color: #000000;
//                 color: #ffffff;
//             }
//         }
//     }
//     .list-posts{
//         display: grid;
//         grid-template-columns: 1fr 2fr ;
//         gap: 30px;
//         margin-bottom:  30px;

//         .post{
//             padding: 10px;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             text-align: left;
//             border: 1px solid black;
//             transition: box-shadow 0.3s ease-in-out;
//             .post_container{
//                 margin-bottom: 10px;
//             }
//             .titel_post{
//                 font-family: 'Exo 2', sans-serif;
//                 font-weight: 300;
//                 margin-bottom: 30px;
//                 border-bottom: 1px solid goldenrod;
//             }
//         }
//         .post:hover{
//             box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
//         }
//     }
//     .list-posts2{
//         display: grid;
//         grid-template-columns: 2fr 1fr ;
//         gap: 30px;
//         margin-bottom: 30px;

//         .post{
//             padding: 10px;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             text-align: left;
//             box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
//             border-radius: 10px;
//             transition: box-shadow 0.3s ease-in-out;
//             .post_container{
//                 margin-bottom: 10px;
//             }
//             .titel_post{
//                 font-family: 'PT Serif', serif;
//                 margin-bottom: 30px;
//                 border-bottom: 1px solid goldenrod;
//             }
//         }
//         .post:hover{
//             box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
//         }
//     }

// }

// p{
//     font-family: 'Raleway', sans-serif;
//     font-size: 21px;
// }