// font-family: 'Calligraffitti', cursive;
// font-family: 'Maven Pro', sans-serif;
// font-family: 'Mulish', sans-serif;
// font-family: 'MuseoModerno', cursive;
// font-family: 'Nunito', sans-serif;

body{
    h1{
        font-family: 'MuseoModerno', cursive;
        font-size: 90px;
    }

    h2{
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    p{
        // font-family: 'Raleway', sans-serif;
        font-family: 'Mulish', sans-serif;
        // font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 21px;
    }

    .container{
        max-width: 900px;
        margin: 0 auto;
        text-align: center;
    }


}